/*
 * ----------------------------------------------------------
 * UTILITIES
 * ----------------------------------------------------------
 */

.u-flex-center {
	display: flex;
	align-items: center;
}

.u-inline-flex-center {
	display: inline-flex;
	align-items: center;
}

.u-flex-col { display: flex; flex-direction: column; }
.u-flex-row { display: flex; flex-direction: row; align-items: center; }

.u-gap-05 { gap: var(--sp-05); }
.u-gap-1 { gap: var(--sp-1); }
.u-gap-2 { gap: var(--sp-2); }
.u-gap-3 { gap: var(--sp-3); }
.u-gap-4 { gap: var(--sp-4); }
.u-gap-5 { gap: var(--sp-5); }
.u-gap-6 { gap: var(--sp-6); }
.u-gap-7 { gap: var(--sp-7); }

.u-flex-col-gap12 {
	display: flex;
	flex-direction: column;
	gap: var(--sp-3);
}
